@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.card-img {
  padding: 10px !important;
}

.card-body {
  text-align: center;
  padding: 10px !important;
  font-size: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .card-img {
    height: 100% !important;
  }
}
